
.cover-page {
    @apply 
        tw-fixed tw-top-0 tw-bottom-0 tw-left-0 tw-right-0
        tw-flex tw-flex-col
        tw-bg-black tw-bg-opacity-50
        tw-justify-center tw-items-center tw-gap-y-20
        tw-text-white tw-select-none tw-z-10;
    /* display: none;
    position: fixed;
    transform-style: preserve-3d;
    transform: perspective(800px);
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5); */
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: min(10vh, 10vw); */
}

.cover-page.hidden {
    @apply tw-hidden;
}
